body {
    background-color:rgb(252, 244, 235);
}

/* Navbar */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    box-shadow: 2px 2px 2px black;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: rgb(255, 188, 63);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}



/* avaliação */
.avaliacao {
    display: flex;
}

.star-icon {
    margin-right: 1px;
    list-style-type: none;
    border: 1px solid rgb(252, 244, 235);
    cursor: pointer;
    color: #ffe500;
    font-size: 35px; /* alterar o tamanho das estrelas */
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
}

#botao {
    width: 100px;
    height: 50px;
    margin-left: 730px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: black;
    color: rgb(255, 188, 63);
    -webkit-transition: all .3s ease-in;
}

#botao:hover {
    background-color: white;
    color: black;
    -webkit-transform: scale(1.1);
}



/* Footer */
footer {
    background-color: rgb(255, 188, 63);
    box-shadow: 2px 2px 2px black;
    padding-bottom: 20px;
}

.footer__title {
    font-size: 40px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

li {
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.footer__copy {
    padding-bottom: 30px;
}