* { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
  }
  
  body {
    background-color:rgb(255, 208, 146);
    width: 100%;
  }

  /* Navbar */
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    box-shadow: 2px 2px 2px black;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 188, 63);
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }



  /* carrosel */ 
.carousel-inner {
    margin-top: 5px;
    height: 520px;
}


/* cardápio */ 
.card {
    margin-left: 10px;
}

.pizzas {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

.btn {
    color: black;
    background-color: rgb(255, 188, 63);;
    margin-left: 78px;
}

.btn:hover {
    color: white;
}


.card, .card-img-top {
  border-radius: 20px;
}


/* Footer */
footer {
  background-color: rgb(255, 188, 63);
  padding-bottom: 15px;
}

.footer__title {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}

li{
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.footer__copy {
  padding-bottom: 30px;
}